-i https://pypi.org/simple/
attrs==20.3.0
django==2.2.8
importlib-metadata==3.9.1 ; python_version < '3.8'
more-itertools==8.7.0
mypy-extensions==0.4.3
mypy==0.750
mysqlclient==1.4.6
packaging==20.9
pluggy==0.13.1
prompt-toolkit==1.0.14
py==1.10.0
pygments==2.7.4
pyinquirer==1.0.3
pyparsing==3.0.0b2
pytest==5.3.2
pytz==2021.1
regex==2021.3.17
six==1.15.0
sqlparse==0.4.1
typed-ast==1.4.2
typing-extensions==3.7.4.3 ; python_version < '3.8'
wcwidth==0.2.5
zipp==3.4.1
