<h1>{{ card }} {% if card.is_done %}
✓
{% else %}
X <a href="{% url 'jeerer_app:mark_done' card.board.id card.id %}">Mark Card as Done</a>
{% endif %}</h1>

{% if card.parent %}
<a href="{% url 'jeerer_app:card' card.board.id card.parent.id %}">Parent: {{ card.parent }}</a>
{% endif %}

<h3>Children</h3>
<ul>
{% for card in card.get_all_children %}
    <li><a href="{% url 'jeerer_app:card' card.board.id card.id %}">{{ card }}</a>
        {% if not card.is_done %}
             <a href="{% url 'jeerer_app:mark_done' card.board.id card.id %}">Mark Card as Done</a></li>
        {% endif %}
{% endfor %}
</ul>

<form action="{% url 'jeerer_app:children' card.board.id card.id %}" method="post">
{% csrf_token %}
    <input type="text" name="newCard" multiple>
    <input type="submit" value="Add Child">
</form>

<br>
<a href="{% url 'jeerer_app:board' card.board.id %}">Back to board</a>