{% if card_list %}
    <ul>
    {% for card in card_list %}
        <li><a href="{% url 'jeerer_app:card' card.id %}">{{ card }} {% if card.is_done %}
✓
{% else %}
X <a href="{% url 'jeerer_app:mark_done' card.id %}">Mark Card as Done</a>
{% endif %}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No cards.</p>
{% endif %}
<form action="{% url 'jeerer_app:card_create' %}" method="post">
{% csrf_token %}
    <input type="text" name="newCard">
    <input type="submit" value="Create Card">
</form>
